/* Fonts */
@font-face {
    font-family: 'Rajdhani';
    src: url('../webfonts/Rajdhani-Light.eot');
    src: url('../webfonts/Rajdhani-Light.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/Rajdhani-Light.woff2') format('woff2'),
        url('../webfonts/Rajdhani-Light.woff') format('woff'),
        url('../webfonts/Rajdhani-Light.ttf') format('truetype'),
        url('../webfonts/Rajdhani-Light.svg#Rajdhani-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('../webfonts/Rajdhani-Medium.eot');
    src: url('../webfonts/Rajdhani-Medium.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/Rajdhani-Medium.woff2') format('woff2'),
        url('../webfonts/Rajdhani-Medium.woff') format('woff'),
        url('../webfonts/Rajdhani-Medium.ttf') format('truetype'),
        url('../webfonts/Rajdhani-Medium.svg#Rajdhani-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('../webfonts/Rajdhani-Bold.eot');
    src: url('../webfonts/Rajdhani-Bold.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/Rajdhani-Bold.woff2') format('woff2'),
        url('../webfonts/Rajdhani-Bold.woff') format('woff'),
        url('../webfonts/Rajdhani-Bold.ttf') format('truetype'),
        url('../webfonts/Rajdhani-Bold.svg#Rajdhani-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('../webfonts/Rajdhani-SemiBold.eot');
    src: url('../webfonts/Rajdhani-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/Rajdhani-SemiBold.woff2') format('woff2'),
        url('../webfonts/Rajdhani-SemiBold.woff') format('woff'),
        url('../webfonts/Rajdhani-SemiBold.ttf') format('truetype'),
        url('../webfonts/Rajdhani-SemiBold.svg#Rajdhani-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('../webfonts/Rajdhani-Regular.eot');
    src: url('../webfonts/Rajdhani-Regular.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/Rajdhani-Regular.woff2') format('woff2'),
        url('../webfonts/Rajdhani-Regular.woff') format('woff'),
        url('../webfonts/Rajdhani-Regular.ttf') format('truetype'),
        url('../webfonts/Rajdhani-Regular.svg#Rajdhani-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Basic CSS */
*{
    box-sizing: border-box;
    font-family: 'Rajdhani';
    outline: none;
}
a{
    text-decoration: none;
}
body{
    margin:0;
    background-color: #1c1c1c;
    min-height: 100vh;
    position: relative;
    padding-bottom: 50px;
}
body.noscroll{
    background: url(../images/arrows.png) repeat-x #1c1c1c;
    background-position:50% center;
    /* background-size: contain; */
    animation: slide 50s linear infinite;
}
@keyframes slide{
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 1000% 50%;
    }
}
img{
    vertical-align: top;
}
.d-grid{
    display:grid;
}
.d-flex{
    display: flex;
}
.d-block{
    display: block;
}
.d-inline-block{
    display: inline-block;
}
.d-none{
    display: none;
}
.text-center{
    text-align: center;
}
.img-responsive{
    width: 100%;
    max-width: 100%;
}
.text-uppercase{
    text-transform: uppercase;
}
.container{
    max-width: 1200px;
    margin:auto;
    padding:0 15px;
}
.container-fluid{
    padding:0 15px;
    max-width: 100%;
}
.theme-text{
    color:#7045B5;
}
.theme-bg{
    background-color: #7045B5;
}
.blue-bg{
    background-color: #4949C1;
}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
input{
    border:0;
    background-color: #171717;
    color:#fff;
    padding: 12px 15px;
    border-radius: 8px;
    width:100%;
    font-size: 18px;
}
.m-0{
    margin:0
}
.mb-0{
    margin-bottom: 0;
}
.mt-0{
    margin-top:0;
}
.mb-1{
    margin-bottom: 1rem;
}
.mb-2{
    margin-bottom: 2rem;
}
.mt-1{
    margin-top:1rem
}
.mt-2{
    margin-top:2rem
}
.ml-2{
    margin-left:2rem
}
.p-0{
    padding: 0;
}
.p-1{
    padding: 1rem;
}
.text-right{
    text-align: right;
}
.disabled{
    pointer-events: none;
    opacity: 0.7;
}
.UKC-btn{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color: #7045B5;
    border-radius: 8px;
    padding: 15px;
    border:0;
    width: 100%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    border:1px solid #7045B5;
}
.UKC-btn:hover{
    border:1px solid #7045B5;
    background-color: rgba(112, 69, 181,0.3);
}
.mobile-only{
    display: none;
}
@media(max-width:768px){
    .mobile-only{
        display: block;
    }
    .desktop-only{
        display: none;
    }   
}
/* header */
.UKC-inner-header{
    padding: 10px 0;
    grid-template-columns: 150px auto 100px;
    align-items: center;
}
.UKC-menu ul{
    margin:0;
    padding:0;
    list-style: none;
    display: flex;
    justify-content: center;
}
.UKC-menu ul .menu-item{
    margin:0 20px
}
.UKC-menu ul .menu-item a{
    text-decoration: none;
    font-size: 18px;
    color: #f9f9f9;
    padding: 3px 0;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    display: block;
}
.UKC-menu ul .menu-item a:after{
    content: '';
    position: absolute;
    left:-100%;
    bottom:0;
    width: 100%;
    height: 2px;
    background-color: #7045B5;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.UKC-menu ul .menu-item a.active:after,.UKC-menu ul .menu-item a:hover:after{
    left:0;
    color:#fff;
}
.fanzone-btn{
    color: #fff;
    font-weight: 600;
    padding: 10px 15px;
    border:2px solid #7045B5;
    overflow: hidden;
    position: relative;
    display: inline-block;
}
.fanzone-btn:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #7045B5;
    top:0;
    left:-100%;
    z-index: 1;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.fanzone-btn:hover:before{
    left:0;
}
.fanzone-btn span{
    position: relative;
    z-index: 9;
}
.menu-toggle .toggle-btn{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 3px;
    background-color: #ccc;
    z-index: 9;
}
.menu-toggle .toggle-btn:after,.menu-toggle .toggle-btn:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left:0;
    background-color: #ccc;
}
.menu-toggle .toggle-btn:after{
    top:-10px
}
.menu-toggle .toggle-btn:before{
    bottom:-10px;
}
@media(max-width:768px){
    .UKC-logo{
        position: relative;
        z-index: 9;
    }
    .UKC-inner-header{
        grid-template-columns:150px auto;
        justify-content: space-between;
    }
    .UKC-menu{
        background-color: #33274D;
        position: fixed;
        left:-100%;
        top:0;
        width: 100%;
        height: 100vh;
        z-index: 2;
        transition: all 0.3s ease;
    }
    .UKC-menu.show{
        left:0;
    }
    .UKC-menu ul{
        flex-direction: column;
        text-align: center;
        margin-top:150px;
    }
    .UKC-menu ul .menu-item a:after{
        display: none;
    }
    .UKC-menu ul .menu-item a{
        display: block;
        text-align: center;
        margin: 15px;
        font-size: 28px;
    }
}
/* footer  */
.UKC-footer{
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    padding:15px 0;
}
.social-links{
    margin:0;
    padding:0;
    list-style: none;
    display: flex;
    justify-content: center;
}
.social-links a.social{
    display: block;
    width: 36px;
    height: 36px;
    background-image: url(../images/ukc-social.png);
    background-repeat: no-repeat;
    margin: 0 12px;
    transition: all 0.3s ease;
}
.social-links a.social.twitter{
    background-position:0 0;
}
.social-links a.social.twitter:hover{
    background-position:0 -37px;
}
.social-links a.social.instagram{
    background-position:-37px 0;
}
.social-links a.social.instagram:hover{
    background-position:-37px -37px;
}
.social-links a.social.github{
    background-position:-75px 0;
}
.social-links a.social.github:hover{
    background-position:-75px -37px;
}
.social-links a.social.tiktok{
    background-position:-113px 0;
}
.social-links a.social.tiktok:hover{
    background-position:-113px -37px;
}

.UKC-body{
    min-height: calc(100vh - 152px);
    position: relative;
}
.theme-alert{
    border:1px solid #7045B5;
    border-radius: 8px;
    padding:15px;
    background-color: rgba(112, 69, 181,0.3);
    text-align: center;
    color:#fff;
    font-size: 16px;
    font-weight: 500;
}
.theme-alert a{
    text-decoration: underline;
    color: #fff;
}
.UKC-middle-box{
    position: absolute;
    left:50%;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    width: 500px;
    padding: 20px;
    background-color: #323232;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.wallet-connect-popup{
    display: none;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
}
.wallet-connect-popup.show{
    display: block;
}
.popup-cotent{
    position: absolute;
    left:50%;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    width: 400px;
    padding: 20px;
    background-color: #1c1c1c;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border:1px solid #4949C1;
}
.wallet-connect-popup a.popup-btn{
    color: #fff;
    padding:15px;
    border:1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    margin-top:16px;
    display: block;
}
.metamask{
    background-color: #2b2b2b;
    border:1px solid #4949C1;
    border-radius: 8px;
}
.UKC-middle-box.large-box{
    width:700px;
}
.UKC-middle-box .inner_box{
    background-color: #171717;
    padding:15px;
    border-radius: 8px;
}
.create-account-page-link{
    margin-top:20px;
    border-radius: 8px;
    overflow: hidden;
}
.btn-link{
    font-size: 20px;
    color: #fff;
    opacity: 0.7;
    font-weight: 600;
}
.error{
    color: #FF7272;
    font-size: 16px;
    display: none;
    margin-top:8px; 
}
.error.show{
    display: block;
}
.about-boxs-wrap{
    grid-template-columns: 48% 48%;
    justify-content: space-between;
}
.ukc-coin-box{
    background-color:rgba(112, 69, 181,0.5) ;
    border:1px solid #7045B5;
    border-radius: 8px;
}
.ukc-coin-box p,.presale p{font-weight: 500;font-size: 18px;margin:8px 0;}
.ukc-coin-box p{
    margin:15px 0;
}
.ukc-coin-box a{color:#7373FF;}
.presale{
    border-radius: 8px;
}
.tokens-remaning{
    font-weight: 900;
    font-size: 38px;
    justify-content: space-between;
}
.text-white{
    color: #fff;
}
.text-gray{
    color:#ccc;
}
.text-danger{
    color: #E96060;
}
.text-success{
    color: #82D786;
}
.currency-select-wrap,.UKC-coin-convert{
    background-color: #171717;
    border-radius: 8px;
}
.currency-select-wrap .d-flex,.UKC-coin-convert .d-flex{
    justify-content: space-between;
    align-items: center;
}
.currency-select-wrap .d-flex > div,.UKC-coin-convert .d-flex > div{
    flex:1;
}
.currency-select-wrap input,.UKC-coin-convert input{
    text-align: right;
    font-size: 28px;
    font-weight: 700;
}
.currency-select-wrap .options .value,
.currency-select-wrap .selected .value{display: none;}
.currency-select-wrap .selected{padding:0 15px}
.currency-select-wrap .selected a{
    color:#fff; 
    font-weight: 500;
    font-size: 18px;
    display: block;
    position: relative;
    padding: 10px 20px 10px 10px;
    border:1px solid rgba(255,255,255,0.3);
    border-radius: 8px;
    margin: 10px 0;
}
.currency-select-wrap .selected a:after{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-left: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(255,255,255,0.3);
    top:12px;
    right:8px;
    transform: rotate(-45deg);
}
.currency-select-wrap .selected a img{
    margin-right: 12px;
}
.options{
    position: absolute;
    width: 400px;
    background-color: #171717;
    border-radius: 8px;
    border:1px solid #4949C1;
    padding: 15px;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    left:50%;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 99;
}
.options ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.options ul li a{
    display: block;
    padding: 10px;
    background-color: #282828;
    border-radius: 4px;
    margin-bottom: 8px;
    transition: all 0.3s ease;
    border:1px solid #282828;
    color:#fff;
    font-size: 18px;
    font-weight: 500;
}
.options ul li:last-child a{
    margin-bottom: 0;
}
.options ul li a img{margin-right: 10px;}
.options ul li a:hover{
    border-color: #7045B5;
}
.ukc-icon{
    padding: 15px;
    font-size: 24px;
    font-weight:700 ;
    color: #fff;
}
.ukc-icon img{
    max-width: 60px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}
.bnb-copyright{
    text-align: right;
    font-size: 14px;
    color: rgba(255,255,255,0.3);
    font-weight: 500;
    pointer-events: none;
}
.bnb-copyright img{
    display: inline-block;
    vertical-align: top;
}
.options::-webkit-scrollbar {
    width: 0.5rem;
  }
   
.options::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
.options::-webkit-scrollbar-thumb {
    background-color: #7045B5;
    border-radius: 15px;
  }
.wallet-code span{
display: inline-block;
max-width: 100px;
padding: 10px 12px;
overflow:hidden;
white-space: nowrap;
text-overflow: ellipsis;
color: #82D786;
border-radius: 25px;
border:1px solid #82D786;
background-color: rgba(130, 215, 134,0.3);
}
.convert-courrency-way{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:10px 0 30px;
    position: relative;
    }
    .convert-courrency-way:before{
        content: '';
        position: absolute;
        top:50%;
        left:25%;
        width:50%;
        height: 2px;
        background-color: #ccc;
    }
    .convert-courrency-way > div{
        background-color: #323232;
        color: #fff;
        font-size: 22px;
        font-weight: 600;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 99;
        padding:10px;
    }
    .convert-courrency-way > div img{
        padding:0 10px;
    }
    .verified-account-alert{
        margin-bottom: -85px;
        margin-top: 20px;
        margin-left:-20px;
        margin-right:-20px;
    }
@media(max-width:768px){
    .UKC-middle-box,.UKC-middle-box.large-box {
        width:90%;
        margin: 2rem auto;
        position: static;
        transform: none;
    }
    .about-boxs-wrap{
        grid-template-columns: 100% ;
        grid-gap:20px;
    }
}



/* dashboard */
.dashboard-sidebar{
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    width: 300px;
    background-color: #282828;
    padding: 15px;
}
.dashboard-sidebar .inner-header{
    padding: 25px 0;
}
.dashboard-sidebar .sidebar-menu .menu{
    list-style: none;
    margin-top:5rem;
}
.dashboard-sidebar .sidebar-menu .menu .menu-item{
    margin: 25px 0;
}
.dashboard-sidebar .sidebar-menu .menu .menu-item .menu-link{
    display: block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    opacity: 0.5;
    text-align: center;
}
.dashboard-sidebar .sidebar-menu .menu .menu-item .menu-link img{
    margin-right: 15px;
}
.dashboard-sidebar .sidebar-menu .menu .menu-item.active .menu-link{
    opacity: 1;
}
.dashboard-content-section{
    padding-left: 325px;
    padding-right: 15px;
}
.dashboard-content-header{
    padding:15px 0;
    justify-content: space-between;
    align-items: center;
}
.page-heading .heading-1{
    font-size: 2rem;
    color: #fff;
}
.user-icon-wrap{
    padding: 15px;
}
.user-dropdown{
    position: absolute;
    top:110%;
    right:0;
    width:200px;
    opacity: 0;
    z-index: -999;
    transition: all 0.5s ease;
}
.user-account-wrap:hover  .user-dropdown{
    opacity: 1;
    z-index: 9;
    top:100%;
}
.user-account-wrap .user-icon-wrap img{
    border:2px solid transparent;
    border-radius: 16px;
    cursor: pointer;
}
.user-account-wrap:hover .user-icon-wrap img{
    border:2px solid #4949C1;
}
.user-dropdown ul{
    border:1px solid #4949C1;
    border-radius: 8px;
    text-align: right;
    list-style: none;
    text-transform: uppercase;
}
.user-dropdown ul a{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #ccc;
}
.dashboard-block-wrapper{
    justify-content: space-between;
    flex-wrap: wrap;
}
.account-details{
    width:calc(100% - 330px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.w-100{
    width:100% ;
}
.UKC-coins-option{
    width: 30%;
    
}
.UKC-coins-option-wrap{
    border:1px solid #7045B5;
    border-radius: 15px;
    padding: 20px;
}
.UKC-coins-option .heading-3{
    margin:0;
    color:#ccc;
    font-size: 24px;
}
.UKC-coins-option .total-coins h1{
    font-size: 42px;
    color: #fff;
    display: flex;
    align-items: center;
    margin:15px 0;
    justify-content: center;
}
.UKC-coins-option .total-coins h1 img{
    padding: 0 15px 0 0;
}
.UKC-chart{
    width: 68%;
}
.ukc-chart-wrap{
    border-radius: 8px;
    background-color: #101010;
    padding:15px;
}
.no-nfts {
    background-color: #323232;
    border-radius: 15px;
    padding: 20px;
}
.no-nfts p{
    font-size: 20px;
    font-weight: 500;
}
.no-nfts .UKC-btn{
    width:auto;
}
.recent-activity{
    width:300px;
}
.recent-activity-wrap{
    border-radius: 15px;
    background-color: #282828;
    overflow: hidden;
}
.recent-activity-wrap > div{
    padding:15px;
}
.recent-activity-wrap > div.recent-heading{
    font-size: 24px;
    font-weight: 500;
    color: #ccc;
}
.recent-activity-wrap > div:nth-child(even){
    background-color: #4B4B4B;
}
@media(max-width:1200px){
    .account-details .UKC-coins-option{
        order:2;
        width:100%
    }
    .account-details .UKC-chart{
        order:1;
        width:100%;
        margin-bottom: 30px;
    }
    .account-details .nfts-block {
        order:3;
    }
}
@media(max-width:991px){
    .dashboard-block-wrapper{
        flex-wrap:wrap;
    }
    .recent-activity,.account-details{
        width: 100%;
        margin-bottom: 25px;
    }
}
@media(max-width:768px){
    .dashboard-content-section{
        padding: 15px;
    }
    .dashboard-sidebar{
        left: -300px;
    }
    .header-page-heading{
        width:0;
        height: 0;
        overflow: hidden;
    }
    .dashboard-contet-body .page-heading.wallet-page{
        display: block !important;
    }
    .dashboard-sidebar .inner-header{
        position: absolute;
        left:310px;
    }
}